body {
    font-family: overpass;
    font-weight: 400;
    min-width: 375px;
    max-width: 375px;
    background-color: hsl(216, 12%, 8%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

}

section {
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    border-radius: 1em;
    text-align: left;
    border: none;

}

h2 {
    font-weight: 700;
    color: white;
    padding-left: 1em;
    margin-left: 30%;

}

img {
    margin-left: 27.5%;
    margin-top: 2em;
}

div {
    text-align: center;
    margin-top: 1em;
    background-color: hsl(213, 19%, 23%);
    border: none;
    border-radius: 2em;
    padding: 0.5em;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    text-align: center;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
